<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
    <ul>
      <li><a href="mandelbrot.html">mandelbrot</a></li>
      <li><a href="eigenface.html">eigenface</a></li>
    </ul>
</body>
</html>