<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
    <div class="content">
        <video id="videoElement" width="480" height="360" autoplay="true"></video>
        <canvas id="canvasElement" width="480" height="360"></canvas>
    </div>
</body>
</html>